<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href={{#resume.configs}}{{icon_svg}}{{/resume.configs}} type="image/svg+xml">
    <link rel="icon" href={{#resume.configs}}{{icon_png}}{{/resume.configs}} type="image/png">
    <title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
    <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+SC|Nunito+Sans:400,700&display=swap" rel="stylesheet">
    <style>{{{css}}}</style>
  </head>

  <body itemscope itemtype="http://schema.org/Person">

    <div class="container">
      <section class="row">
        <div class="card-wrapper">
          {{#resume.basics}}
          <div class="card">
            <div class="profile-card">
                <div class="profile-pic">
                  <img class="media-object img-circle center-block"  data-src="holder.js/100x100"
                    alt="{{name}}" src="{{picture}}" itemprop="image">
                </div>
                <div class="contact-details">
                  <div class="name-and-profession">
                    <h3 class="text-bolder name" itemprop="name"> {{name}}</h3>
                    <div class="text-muted profession" itemprop="professionTitle">{{label}}</div>
                  </div>

                  {{#if address}}
                    <div class="text-muted info" itemprop="address" style="font-size:0.9em">{{address}}</div>
                  {{/if}}

                  {{#if email}}
                    <div class="detail">
                      <span class="info">
                        <a href="mailto:{{email}}" class="link-disguise" itemprop="email" target="_blank">{{email}}</a>
                      </span>
                    </div>
                  {{/if}}
                </div>

              <div class="social-links">
                {{#profiles}}
                  <a class="social-link icon" href="{{url}}" target="_blank">
                    <span class="iconify" data-icon="{{toSocialIcon network}}"></span>
                  </a>
                {{/profiles}}
              </div>
            </div>
          </div>
          {{/resume.basics}}

        </div>
      </section>

      <section class="row page">
        <div class="card-wrapper">
          <div class="card background-card">

            <h4 id="about"></span> <span class="title">About</span> </h4>
            <div class="card-nested" itemprop="description">
              <p> {{breaklines resume.basics.summary}} </p>
            </div>

            {{#if resume.news}}
            <h4 id="news"><span class="title">News</span></h4>
            <ul class="list-unstyled">
              {{#each resume.news}}
              <li class="card-nested">
                <div class="content has-sidebar">
                    <p class="clear-margin-sm">
                      {{title}}
                    </p>
                    <p class="text-muted clear-margin-sm">
                      <small>{{date}}</small>
                    </p>
                </div>
              </li>
              {{/each}}
            </ul>
            {{/if}}

            {{#if resume.education}}
            <h4><span class="title">Education</span></h4>
            <ul class="list-unstyled">
              {{#each resume.education}}
                <li class="card-nested">
                  <div class="content has-sidebar">
                    <p class="clear-margin-sm">
                      <strong>{{degree}}</strong>,&nbsp;
                      {{major}},&nbsp;
                      {{institution}}
                    </p>
                    <p class="clear-margin-sm">
                      {{description}}
                    </p>
                    <p class="text-muted clear-margin-sm">
                      <small>
                        {{startDate}} - {{#if endDate}}{{endDate}}{{else}}Now{{/if}}
                      </small>
                    </p>
                  </div>
                </li>
              {{/each}}
            </ul>
            {{/if}}

            {{#if resume.interests}}
            <h4 id="interests"><span class="title">Research Interests</span></h4>
            <ul class="list-unstyled">
              {{#each resume.interests}}
              <li class="card-nested">
                <div class="content has-sidebar">
                    <p class="clear-margin-sm">
                      {{.}}
                    </p>
                </div>
              </li>
              {{/each}}
            </ul>
            {{/if}}

            {{#if resume.publications}}
            <h4 id="publications"><span class="title">Publications</span></h4>
            <ol class="list-unstyled">
              {{#each resume.publications}}
                <li class="card-nested" style="margin-bottom: 0.5em">
                  <div class="content has-sidebar">
                    <p class="clear-margin-sm">
                      <span class="text-box">{{publisher}}</span>
                      <strong>{{title}}</strong>
                      <span class="text-box">{{grade}}</span>
                    </p>
                    <p class="clear-margin">{{authors}}</p>
                    <p class="text-muted clear-margin-sm">
                      <small>
                        {{description}}
                        {{#if url}}
                          <a href="{{url}}" class='icon' target="_blank">
                            <span class="iconify" data-icon="{{toSocialIcon 'link'}}"></span>
                          </a>
                        {{/if}}
                      </small>
                    </p>
                    {{#if highlight}}
                    <p class="clear-margin highlight">{{highlight}}</p>
                    {{/if}}
                  </div>
                </li>
              {{/each}}
            </ol>
            {{/if}}

            {{#if resume.patents}}
            <h4 id="patents"><span class="title">Patents</span></h4>
            <ul class="list-unstyled">
              {{#each resume.patents}}
              <li class="card-nested">
                <div class="content has-sidebar">
                    <p class="clear-margin-sm">
                      {{title}}
                    </p>
                    <p class="text-muted clear-margin-sm">
                      {{description}}
                    </p>
                    <p class="text-muted clear-margin-sm">
                      <small>{{date}}</small>
                    </p>
                </div>
              </li>
              {{/each}}
            </ul>
            {{/if}}

            {{#if resume.talks}}
            <h4 id="talks"><span class="title">Talks</span></h4>
            <ul class="list-unstyled">
              {{#each resume.talks}}
              <li class="card-nested" style="margin-bottom: 0.5em">
                <div class="content has-sidebar">
                    <p class="clear-margin-sm">
                      <strong>{{title}}</strong>,&nbsp;
                      {{#if website}}<a href="{{website}}" target="_blank">{{publisher}}</a>{{else}}{{publisher}}{{/if}}
                    </p>
                    {{#if description}}
                      <p class="clear-margin-sm">
                        {{description}}
                      </p>
                    {{/if}}
                    <p class="text-muted clear-margin-sm">
                      <small>
                        {{date}}
                        {{#if slides}}&nbsp;
                          <a href="{{slides}}" class='icon' target="_blank">
                            <span class="iconify" data-icon="{{toSocialIcon 'slides'}}"></span>
                          </a>
                        {{/if}}
                      </small>
                    </p>
                </div>
              </li>
              {{/each}}
            </ul>
            {{/if}}

            {{#if resume.services}}
            <h4 id="services"><span class="title">Academic Services</span></h4>
            <ul class="list-unstyled">
              {{#each resume.services}}
                <li class="card-nested">
                  <div class="content has-sidebar">
                    <p class="clear-margin-sm">
                      {{position}}
                    </p>
                    <p class="text-muted clear-margin-sm">
                      <small>{{date}}</small>
                    </p>
                  </div>
                </li>
              {{/each}}
            </ul>
            {{/if}}

            {{#if resume.awards}}
            <h4 id="awards"><span class="title">Honors & Awards</span></h4>
            <ul class="list-unstyled">
              {{#each resume.awards}}
                <li class="card-nested">
                  <div class="content has-sidebar">
                    <p class="clear-margin-sm" itemprop="award">
                      <strong>{{title}}</strong>,&nbsp;
                      {{awarder}}
                    </p>
                    {{#if description}}
                      <p class="clear-margin-sm">{{description}}</p>
                    {{/if}}
                    <p class="text-muted clear-margin-sm">
                      <small> {{date}} </small>
                    </p>
                  </div>
                </li>
              {{/each}}
            </ul>
            {{/if}}

            <div style="text-align:center">
              <div class="detail no-print" style="font-size:1.5rem;margin-top:2rem;">
                <a href={{#resume.configs}}{{site_url}}/resume.pdf{{/resume.configs}} class="info" itemprop="pdf" target="_blank">
                  PDF Version
                </a>
              </div>
               <div class="detail print-only" style="font-size:1.5rem;margin-top:2rem;" >
                <a href={{#resume.configs}}{{site_url}}{{/resume.configs}} class="info" itemprop="pdf" target="_blank">
                  Online Version
                </a>
              </div>
              <div style="opacity:0.7; font-size:1.2rem;margin-top:1rem;">Last updated at {{getBuildDate ''}}</div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </body>
</html>
